<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 pe-0">
      <h1 class="mb-4">Sou o Thiago Lima,</h1>

      <p class="fs-5 text-justify">Eu acredito no poder da educação como um agente transformador de realidades, isso porque eu tive a oportunidade de me formar no curso superior de sistemas de informação, isso mudou a minha realidade social e econômica, me gerando recursos para estudar ainda mais. A partir disso fui encorajado a iniciar minha carreira de docente. Já lecionei para turmas de desenvolvimento web e infraestrutura Cisco no Instituto da oportunidade social o IOS, hoje no mesmo Instituto leciono aulas de Desenvolvimento Web Full Stack, esta experiência incrível me proporciona atuar diretamente em um projeto de impacto social, isso me ensina muito a aprender e a ensinar. Amo o que faço, essa é minha vocação, ser professor, influenciar e motivar pessoas!</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center ps-0">
      <img class="img-fluid" src="https://i.imgur.com/lMAxde0.png" alt="" width="70%">
    </div>
  </div>


</div>


